<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>My Circulations</title>

  <link rel="stylesheet" th:href="@{/css/user/Circulations.css}">
  <link rel="stylesheet" th:href="@{/css/shared/boxOrganization.css}">
</head>

<body>

<main layout:fragment="main">
  <section class="boxOrganization">
    <a th:each="circulation : ${circulations}" th:href="@{'/store/' + ${circulation.project.Id}}">
      <div class="box">
        <div>
          <img th:src="${circulation.project.thumbnail}">
        </div>
        <div>
          <h1 th:text="${circulation.project.title}"></h1>
        </div>
      </div>
    </a>
  </section>
</main>

</body>

</html>