<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Login</title>

  <link rel="stylesheet" th:href="@{/css/shared/form.css}">
  <link rel="stylesheet" th:href="@{/css/user/Login.css}">
  <script th:src="@{/js/shared/form.js}" defer></script>
</head>

<body>
  <main layout:fragment="main">
    <div class="background">
      <img th:src="@{/img/shared/form/img1.jpg}" alt="An imagem that represents a global connection, in a carrousel cicle">
    </div>
    <form th:action="@{/login}" method="POST">
      <fieldset>
        <p>
          <input type="text" id="username" name="username" placeholder="Login">
        </p>

        <p>
          <input type="password" id="password" name="password" placeholder="Password">
        </p>

        <p>
          <input type="submit" value="Sign in" class="sendButton">
        </p>
      </fieldset>
    </form>
  </main>
</body>

</html>